<footer id="colophon" class="site-footer">
  <div class="container container--lg">
    <div class="site-footer__inside">
      <div class="site-footer__info">
        {{ if .Site.Params.footer.content }}
        <span class="site-footer__copyright">{{ $.Site.Params.footer.content | safeHTML }}</span>
        {{ end }}
        {{ range $action := .Site.Params.footer.links }}
          {{ $include_dict := dict "action" $action }}
          {{ partial "action_link.html" $include_dict }}
        {{ end }}
      </div>
      {{ if .Site.Params.footer.has_social }}
      <div class="site-footer__social">
        {{ range $action := $.Site.Params.footer.social_links }}
          {{ $include_dict := dict "action" $action }}
          {{ partial "action.html" $include_dict }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</footer>
